{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="section">
        <h1 class="title"> Register </h1>

        <div>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

            <form method="post" >
                {% csrf_token %}
                {{ register_form|crispy}}
                <button class="button is-success" type="submit" value="Register">Register</button>
            </form>
        </div>
    </section>
{% endblock content %}