{% extends 'base.html' %}
{% block content %}

<div class="column">
    <article class="message is-success">
        <div class="message-header">
        <p>{{dweet.created_at}} by {{dweet.user.username}}</p>
        <p> Liked: {{ dweet.num_of_likes }} </p>
        </div>
        <div class="message-body">
        {{ dweet.body}}
        </div>
        
        {% if user.is_authenticated %}
        <form action={% url 'dwitter:dweet_like' dweet.id %} method="POST">
        {% csrf_token %}
        {% if liked %}
        <button type="submit" name="dweet_id" value="{{dweet.id}}" class="button">Unlike</button>
        {% else %}
        <button type="submit" name="dweet_id" value="{{dweet.id}}" class="button">Like</button>
        {% endif %}
        </form>

        {% else %}
        <a href="{% url 'dwitter:login' %}?next={{request.path}}">Log in to like this article!</a><br>
        {% endif %}  
    </article>
</div>



{% endblock content %}